.App h1 {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-right: 500px;
}

.logo {
    display: flex;
    margin-top: -5px;
    padding: 2px;
    margin-right: auto;
    margin-left: 10px;
    height: 100px;
    padding: 3px;
    animation: bounce 2s infinite ease-in-out;

}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.05);
  }
}




